.CollapsibleSection {
  min-height: 3em;
  max-height: calc(100% - 3em);
  overflow: hidden;
}

.CollapsedContent {
  overflow: scroll;
  &[data-state="open"] > div {
    transition: height 3s ease-in;
  }

  &[data-state="open"] > div {
    max-height: 100%;
    overflow: scroll;
  }
}

.IconOpen {
  transition: transform 0.1s ease-in;
  &[data-open="true"] {
    transform: rotate(0.25turn);
  }
}

.Trigger {
  cursor: pointer;
  background-color: var(--yellow-5);
  padding-left: 0px;
  transition: all 0.25s ease-in-out;
  color: var(--gray-12);

  &:hover {
    padding-left: 10px;
  }
}
