.Container {
  position: relative;
}

[data-ui="submit-button"] {
  background-color: black;
}

.DashboardControls {
  background-color: #ffde21;
  z-index: 500;
  position: sticky;
  top: 0px;
  max-width: 1000px;
  box-shadow: var(--shadow-3);
}
