.Container {
  position: relative;
  height: 100vh;
  background-color: var(--theme-choice-background);
}

.TopArea {
  min-height: 170px;
  box-shadow: var(--shadow-3);
  max-width: 500px;
  min-width: 350px;
}
