.ContentView {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  padding: 1rem;
  // border: 2px solid red;
}

.DisplayRules {
  display: block;
  border: 2px solid blue;
}

.HiddenRules {
  display: none;
}
