@import "@radix-ui/themes/styles.css";

.Root {
  z-index: 100000000;
  position: fixed;
  bottom: 0;
  right: 0;

  button {
    border: none;
  }
  div {
    opacity: 1;
  }
}

.GlobalInterpolationOptionsContainer {
  position: fixed;
  padding: var(--space-2);
  box-shadow: var(--shadow-5);
  left: 0;
  bottom: 0;
}
