.SwitchRoot {
  width: 60px;
  height: 28px;
  background-color: var(--switch-background);
  border-radius: 9999px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
  background-color: var(--switch-background);
  &[data-state="checked"] {
    background-color: var(--switch-background);
  }
}

.SwitchThumb {
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(3px);
  will-change: transform;
  &[data-state="checked"] {
    transform: translateX(34px);
  }
}
