.DeleteAllRules {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .RuleCardContainer {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .RuleCardContainer {
    width: 50%;
  }
}

.RuleCardContainer {
}

.TabsContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.UploadCallToAction {
  position: absolute;
  bottom: 20;
  right: 20;
}

.Container {
  position: relative;
}

.ImportExportCTAs {
  button {
    width: 48%;
  }
}
