.InterpolationCard {
  box-shadow: var(--shadow-3);
  width: stretch;
  padding: 0;
}

.CollapsibleRoot {
  width: stretch;
}

.DeleteAction {
  position: absolute;
  right: 4px;
}

.ToggleCollapse {
  box-shadow: none;
  width: 100%;
  height: unset;
}

.ExpansionTrigger {
  transition: transform 0.1s ease-in;
  &[data-open="true"] {
    transform: rotate(0.5turn);
  }
}
